<!-- 
 <div class="container-fluid">
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           Categories     
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let category of categories" class="list-group-item">{{category.categoryName}}</li>
    </ul>
  </div>
</div>
  -->



  <ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-success" [class]="getAllCurrentCategory()" routerLink="/products"><b>Tüm Ürünler</b></li>
    <li (click)="setCurrentCategory(category)" routerLink="/products/category/{{category.categoryId}}" *ngFor="let category of categories" [class]="getCurrentCategoryClass(category)">{{category.categoryName}}</li>
  
  </ul> 
  
  <!-- <h5 *ngIf="currentCategory">{{currentCategory.categoryName}} seçtiniz.</h5> -->