<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div *ngIf="dataLoaded == false" class="spinner-border text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Search for Products</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
    placeholder="enter search phrase">
  </div>
  <div *ngIf="filterText.length>1" class="alert alert-success">
    searched for {{filterText}} 
  </div>
<table *ngIf="dataLoaded == true" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Price with Vat</th>
            <th>Stock</th>
            <th>Qantity Per Unit</th>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>


        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
        <td>{{product.id}}</td>
        <td>{{product.productName | uppercase}}</td>
        <td>{{product.unitPrice|currency:"₺"}}</td>
        <td>{{product.unitPrice |vatAdded:18 | currency:"₺"}}</td>
        <td>{{product.unitsInStock}}</td>
        <td>{{product.quantityPerUnit}}</td>
        <td>{{product?.category?.categoryId ?? '' }}</td>
        <td>{{product?.category?.categoryName ?? '' }}</td>
        <td><button (click)="addToCart(product)" type="button" class="btn btn-success">
            Add to cart</button></td>

    </tr>
</tbody>
</table>
