<li *ngIf="cartItems.length>0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sepetim
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let cartItem of cartItems">
            <a class="dropdown-item">{{cartItem.product.productName}} 
                <span (click)="decreaseFromCart(cartItem.product)"  class="badge bg-danger">-</span> 
                    <span class="badge rounded-pill bg-light text-dark">
                        {{cartItem.quantity}}
                    </span>
                <span (click)="increaseFromCart(cartItem.product)" class="badge bg-success">+</span> 
                <div (click)="removeFromCart(cartItem.product)" class="btn btn-danger btn-sm ">  Sil  </div></a> 
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item">Sepete Git</a></li>
    </ul>
</li>